@model insuriviti.Models.ClaimSubmit


@{
    ViewData["Title"] = "ViewClaimSubmit";
    Layout = "~/Views/Shared/_masterlayout.cshtml";

}

<script src="~/templete/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
<link rel="stylesheet" href="~/templete/plugins/ekko-lightbox/ekko-lightbox.css">
<h1>ViewClaimSubmit</h1>

<div>
    <h4>ClaimSubmit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RelationWithPatient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RelationWithPatient)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GroupPolicyNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GroupPolicyNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NatureOfSick)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NatureOfSick)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BankName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BankName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoverageEffDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoverageEffDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfTreatementPaperAttached)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfTreatementPaperAttached)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfBillAttached)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfBillAttached)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmountClaimed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalAmountClaimed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeOfAccident)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTimeOfAccident)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompelledDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompelledDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnToWorkDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReturnToWorkDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeRepresentativeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeRepresentativeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
    <h3>Attachments</h3>
    
    @foreach (var item in ViewData["fileUpload"] as IList<FileUpload>)
    {
        var pathImage = "/uploads/" + item.fileName;

        @*<img class="card-img-top" src="@pathImage" alt="alternatetext">*@
        <ul class="list-group">
            <li class="list-group-item">
                <div class="col-md-6">
                    <a href="@pathImage" data-toggle="lightbox" data-title="@item.fileName" data-gallery="gallery">
                        <img class="img-sm" src="@pathImage" alt="@item.fileName" />
                    </a>
                    <a>@item.fileName</a>
                </div>
            </li>
           
        </ul>

        @*<div class="col-md-6">
            <a href="@pathImage" data-toggle="lightbox" data-title="@item.fileName" data-gallery="gallery">
                <img class="img-sm" src="@pathImage" alt="@item.fileName" />
            </a>
            <a>@item.fileName</a>
        </div>*@

    }

</div>
<div>

    <a asp-action="ActiveClaims">Back to Active Claims</a>
</div>

<script>
    $(document).ready(function () {
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox({
                alwaysShowClose: true
            });
        });

        $('.filter-container').filterizr({ gutterPixels: 3 });
        $('.btn[data-filter]').on('click', function () {
            $('.btn[data-filter]').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>