@model IEnumerable<insuriviti.ViewModel.ProcessClaim>

@{
    ViewData["Title"] = "ProcessClaim";
    Layout = "~/Views/Shared/_masterlayout.cshtml";
}

<h1>ProcessClaim</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClaimId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaimStatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaimAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdateUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidMonth)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdateUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidMonth)
            </td>
            <td>
                <a asp-action="EditClaims" asp-route-id="@item.ClaimId">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
